



                <div class="container">
                    <div class="jumbotron">
                        <h1>Small Business Management System</h1>
                        <p>
                            This is a simple Web Application named InfinityDotCom Develoved By Infinity Team.
                        </p>
                    </div>
                </div>
